@font-face {
  font-family: "Tiempos";
  src: url("./Tiempos/TiemposText-Regular.otf");
}
@font-face {
  font-family: "AlrightSansLT";
  src: url("./AlrightSans/AlrightSans-Regular.otf");
}

h1, h2, h3 {
  font-family: Tiempos, Serif;
}

h4, h5, p, span, a, li {
  font-family: AlrightSansLT, sans-serif;
}
